---
import Layout from "../../layouts/Layout.astro";
import PresentationNavigation from "../../components/PresentationNavigation";

const { slide } = Astro.params;

const isPresenter = Astro.cookies.get("presenter")?.value === "true" ? true : false;
const wsUrl = import.meta.env.PUBLIC_WS_URL ?? "wss://localhost:8787/api/room/hecc/websocket"
---

<Layout title="Welcome to Astro.">
	<main class="min-h-screen text-ctp-text">
		<div class="text-red-200">ok</div>
		<p>slide {slide}</p>
		<a href={`/slides/${Number(slide) - 1}`}>prev</a>
		<a href={`/slides/${Number(slide) + 1}`}>next</a>
		<PresentationNavigation
		slide={slide ? parseInt(slide) : 1}
		isPresenter={isPresenter}
		wsUrl={wsUrl}
		client:only="solid-js"
		transition:name="navigation"
		/>
	</main
</Layout>
