---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Catppuccin Ref">
	<div class="bg-ctp-base h-screen">
		<h1>Surface</h1>
		<div class="flex items-center gap-1">
			<div>surface0</div>
			<div class="bg-ctp-surface0 h-4 w-96"></div>
		</div>
		<div class="flex items-center gap-1">
			<div>surface1</div>
			<div class="bg-ctp-surface1 h-4 w-96"></div>
		</div>
		<div class="flex items-center gap-1">
			<div>surface2</div>
			<div class="bg-ctp-surface2 h-4 w-96"></div>
		</div>
		<h1 class="pt-6">Overlay</h1>
		<div class="flex items-center gap-1">
			<div>overlay0</div>
			<div class="bg-ctp-overlay0 h-4 w-96"></div>
		</div>
		<div class="flex items-center gap-1">
			<div>overlay1</div>
			<div class="bg-ctp-overlay1 h-4 w-96"></div>
		</div>
		<div class="flex items-center gap-1">
			<div>overlay2</div>
			<div class="bg-ctp-overlay2 h-4 w-96"></div>
		</div>

		<h1 class="pt-6">Others</h1>
		<div class="flex items-center gap-1">
			<div>mantle</div>
			<div class="bg-ctp-mantle h-4 w-96"></div>
		</div>
		<div class="flex items-center gap-1">
			<div>crust</div>
			<div class="bg-ctp-crust h-4 w-96"></div>
		</div>
	</div>
</Layout>
