---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PresentationNavigation from '../components/PresentationNavigation'; 
---

<Layout title="Welcome to Astro.">
	<main>
		<div class=" text-red-200">ok</div>
		<PresentationNavigation client:load />
	</main>
</Layout>

